/********************

	Cachet UI
	-> Design Framework Manifest

*********************/

$use-grid: true;

/********************
	Vendor
	-> External style libraries
********************/

@import '../../bower_components/fontawesome/scss/font-awesome.scss';

@if ($use-grid == true) {
	// Grid Settings
	$use-silent-classes: true;
	$pull: true;
	@import '../../bower_components/csswizardry-grids/csswizardry-grids.scss';
}

/********************
	Foundation
	-> Not the Zurb kind
********************/

@import 'foundation/reset';
@import 'foundation/helpers';
@import 'foundation/config';
@import 'foundation/base';



/*********************
	Components
	-> Reusable modules of style that makes up the styleguide
*********************/

// Button Styles
@import 'components/buttons';


/********************
	Inbox
	-> Temporary styles for quick fixes and testing
********************/
